.smythe-regular {
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;

}


body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: antiquewhite;
    font-family: "Smythe", system-ui;
} 

.father{
    width: 600px;
    height: 1161px;
    background-color: white;
    margin: 10px;
    position: relative;
}

.header {
    height: 167px;
    background-color: aqua;
    margin-bottom: 22px;

    
}

.header img{
    height: 167px;
    width: 600px;
    object-fit: cover;
    object-position: 0% 29%;
    
}

/* Menu Options */

.menu{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    max-height:max-content;
}

ul, ol {
    list-style: none;
}

.menu-item{
    margin-left: 46px;
    margin-right: 46px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 51px;
    margin-top: 45px;
    height: 140px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}

.menu-image{
    height: 76px;
    display: flex;
    align-items: center;

}

.foodName{
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
 
}

.ingredients{
    font-size: 16px;
    margin-top: 8.8px;
    margin-bottom: 8px;
    padding: 0;
    color: #8B8B8B;
    
}

.priceEl{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.add-btn{
    color: #3C3C3C;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-weight: 200;
    width: 50px;
    height: 50px;
    font-size: 32px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    
}

/* Cart */

.cart{
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
  
 
}


.cart h3{
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 44px;
 
}

.cart-items{
    display: flex;
    flex-direction: row;

}


.cart-items p{
 
  margin-top: 0;
  line-height: 1;
  margin-bottom: 15px;
}



.cart-item-name{
    font-size: 28px;
   
}

.remove-btn{
    font-family: "Verdana";
    font-size: 12px;
    color: #BBBBBB;
    margin-left: 13px;
    display: flex;
    align-items: center;
   
}

.cart-item-price{
    font-size: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
   
}

.price-total{
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    font-size: 28px;
    margin-left: 45px;
    margin-right: 45px;
}

.price-total p{
    margin-top: 14px;
    font-size: 28px;
    margin-bottom: 53px;
}

.totalNumber{
   margin-left: auto;
   font-size: 20px!important;
   margin-bottom: 0;
}

/* button */

.purchaseBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin: auto auto auto auto;
    background-color: #16DB99;
    border-radius: 3px;
    width: 508px;
    height: 60px;
    font-family: "Verdana";
    font-size: 16px;
    color: white;
   
}

/* payment wall */

.payment-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 524px;
    height: 524.24px;
    background-color: #16DB99;
    border-radius: 3.89px;
    
}

.payment-popup h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    font-family: "Verdana";
    margin-bottom: 46.07px;
    margin-top: 47.32px;
}

input[type="text"]{
width: 475.91px;
height: 71.3px;
margin-bottom: 23.22px;


}


